body {
  background-image: url("../Okay!\,\ And.png");
  background-size: cover;
  height: 100vh;
}

.textShadowTest {
    display: flex;
    justify-content: center;
    text-shadow: blue 5px 5px 6px;
}